<!-- <div class="main-content form">

    <div class="refund">
        <input type="text" placeholder="Order ID" #orderid />
        <input type="text" placeholder="Email"  #email/>
        <button type="submit" class="submit" (click)="onSubmit()">Submit</button>
    </div>
</div> -->
<div class="main-content form">
    
    <div class="refund">
        <h1 class="heading"> Apply for Refund </h1>
        <br />
        <br />
        <input type="text" placeholder="Order ID" #orderid />
        <input type="text" placeholder="Email" #email/>
        <button type="submit" class="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>